body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.container {
  padding: 30px;
}

.left , .foo{
  float: left;
  margin: 10px;
  width: 350px;
  height: 350px;
}

.right , .foo{
  float: right;
  margin: 10px;
}
