* {
  box-sizing: border-box;
}

.container {
  padding-left: 60px;
  padding-right: 60px;
  background-color: #808080;
}
nav {
  padding-top: 5px;
  text-align: left;
  height: 70px;
  position: fixed;
  width: 100%
}

nav .logo {
  /*padding-right: 15px;*/
  /*position: absolute;
  -moz-border-radius: 60px;
    border-radius: 60px;
    border: 1px solid black;
  left: 60px;
  width: 60px;
  height: 60px;*/
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid black;
}

nav ul {
  display: inline-block;
  list-style: none;
}
nav li {
  display: inline-block;
}

nav li::after {
  content: "|";
  margin-left: 5px;
}

nav a:hover {
  color: black;
}
body {
  background-image: url(../outerspace_landscape.jpeg);
  background-size: cover;
    background-repeat: no-repeat;
  


}

main .box {
  border: 8px green dotted;
  width: 600px;
  height: 300px;
  position: fixed;
  left: 200px;
  top: 150px;
}
.spaceCat {
  border: 1px solid blue;
  position: relative;
  width: 200px;
  height: 200px;
  left: 100px;
  top: 100px;
  background-image: url(../spacecat.png);
}
.spaceDog {
  border: 1px solid blue;
  position: relative;
  width: 200px;
  height: 200px;
  left: 690px;
  top: 150px;
  background-image: url(../spacedog.png);
}
